#head{
    text-align: center;
}

#as{
    width: auto;
    height: auto;
   
}
#d1{
    font-size: 40PX;
}

#d2{
    width: 250px;
    height: 250px;
}

#pimg{
display: flex;
justify-content: space-around;}

#img1{
    width: 200px;
    height: 100px;
}

#ff{
    display: flex;
    justify-content: space-around;
}

#ff1{
    padding-top: 30px;
    width: 500px;
    height: 400px;
}




/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
     #img1{
           width: 600px;
           height: auto;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  #kaxeti{
  
   background-color: aqua;
  }
  
  #mcxeta{
   
    background-color: rgb(0, 255, 34);
  }

  #sidaqartli{
   
    background-color: rgb(183, 0, 255);
  }

  #raca{

    background-color: rgb(208, 255, 0);
  }

  #registr{

    background-color: rgb(0, 255, 42);
  }